<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/alumnos.html">Ver alumnos</a></li>
            <li><a href="/rkalumnos.html">Ranking alumnos</a></li>
            <li><a href="/añadiralumnos.html">Añadir alumnos</a></li>
            <li><a href="/actualizaralumnos.html">Actualizar Alumnos</a></li>
            <li><a href="/deletealumnos.html">Eliminar alumnos</a></li>
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>
</body>
</html>
